$stacking-order: (
  output: 10,
  input: 20,
);

$range-track-height: rem(4px);
$range-track-shadow: inset 0 rem(1px) rem(1px) color('ink', 'lighter');
$range-track-shadow-error: inset 0 rem(1px) rem(1px) color('red', 'dark');
$range-thumb-size: rem(24px);
$range-thumb-border-size: rem(2px);
$range-thumbs-border: rem(1px) solid color('sky', 'dark');
$range-thumbs-border-error: rem(2px) solid color('red');
$range-accessibility-input-margin: rem(8px);

.Wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.TrackWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: $range-thumb-size;

  &.disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

// .AccessibilityInputs {
//   width: var(--Polaris-RangeSlider-accessibility-input-width);
//   width: 72px;
// }

.AccessibilityInputLower {
  margin-right: $range-accessibility-input-margin;
}

.AccessibilityInputUpper {
  margin-left: $range-accessibility-input-margin;
}

.Track {
  position: absolute;
  width: 100%;
  height: $range-track-height;
  border-radius: $range-thumb-size;

  .error & {
    --unselected-range: #{color('red')};

    @include range-thumb-selectors {
      box-shadow: $range-track-shadow-error;
    }
  }

  --unselected-range: #{color('sky', 'dark')};
  --selected-range: #{color('indigo')};
  --gradient-colors: var(--unselected-range, transparent) 0%,
    var(--unselected-range, transparent)
      var(--Polaris-RangeSlider-progress-lower),
    var(--selected-range, transparent) var(--Polaris-RangeSlider-progress-lower),
    var(--selected-range, transparent) var(--Polaris-RangeSlider-progress-upper),
    var(--unselected-range, transparent)
      var(--Polaris-RangeSlider-progress-upper),
    var(--unselected-range, transparent) 100%;
  box-shadow: $range-track-shadow;
  background-image: linear-gradient(to right, var(--gradient-colors));
}

.Thumbs {
  position: absolute;
  z-index: z-index('input', $stacking-order);
  width: $range-thumb-size;
  height: $range-thumb-size;
  border: $range-thumbs-border;
  border-radius: 50%;
  background: linear-gradient(color('sky', 'lighter'), color('sky', 'light'));
  cursor: pointer;

  .disabled & {
    @include range-track-selectors {
      cursor: auto;
      background-image: none;
    }

    @include range-thumb-selectors {
      cursor: not-allowed;
      border-color: color('sky', 'dark');
    }
  }

  .error & {
    border: $range-thumbs-border-error;
  }
}

$range-output-size: rem(32px);
$range-output-tip-size: rem(8px);
$range-output-translate-x-lower: calc(
  -10% + var(--Polaris-RangeSlider-output-factor-lower, 0) * #{$range-thumb-size}
);
$range-output-translate-x-upper: calc(
  -10% + var(--Polaris-RangeSlider-output-factor-upper, 0) * #{$range-thumb-size}
);

.Output {
  position: absolute;
  z-index: z-index('output', $stacking-order);
  bottom: $range-output-size - $range-output-tip-size + $range-thumb-size;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: duration();
  transition-timing-function: easing();

  .ThumbLower:hover + &,
  .ThumbLower:active + &,
  .ThumbLower:focus + & {
    opacity: 1;
    visibility: visible;
  }

  .ThumbUpper:hover + &,
  .ThumbUpper:active + &,
  .ThumbUpper:focus + & {
    opacity: 1;
    visibility: visible;
  }

  .Thumbs:hover + .Output &,
  .Thumbs:active + .Output &,
  .Thumbs:focus + .Output & {
    transform: translateY(-$range-thumb-size);

    @include page-content-when-not-partially-condensed {
      transform: translateY(-($range-thumb-size / 2));
    }
  }
}

.OutputBubble {
  position: relative;
  display: flex;
  padding: 0 spacing(tight);
  min-width: $range-output-size;
  height: $range-output-size;
  background-color: color('ink');
  border-radius: border-radius();
  transition-property: transform;
  transition-duration: duration();
  transition-timing-function: easing();

  &::before {
    content: '';
    position: absolute;
    bottom: -($range-output-tip-size - rem(1px));
    left: 50%;
    margin-left: -$range-output-tip-size;
    display: block;
    width: 0;
    height: 0;
    border-left: $range-output-tip-size solid transparent;
    border-right: $range-output-tip-size solid transparent;
    border-top: $range-output-tip-size solid color('ink');
  }
}

.OutputText {
  @include text-style-subheading;
  display: block;
  flex: 1 1 auto;
  margin: auto;
  text-align: center;
  color: color('white');
}

.OutputLower {
  transform: translateX($range-output-translate-x-lower);
}

.OutputUpper {
  transform: translateX($range-output-translate-x-upper);
}
